# EURe contract address (on Gnosis)
EURE_CONTRACT_ADDRESS="0xcB444e90D8198415266c6a2724b7900fb12FC56E"

# cEUR contract address (on Celo)
CEUR_CONTRACT_ADDRESS="0xd8763cba276a3738e6de85b4b3bf5fded6d6ca73"

# EURM contract address (on Gnosis Chiado testnet)
EURM_GNOSIS_CONTRACT_ADDRESS="0x4bDf99B0e13457A367f4D1ffCEfB8cEC88f36199"

# EURM contract address (on Celo Alfajores testnet)
EURM_ALFAJORES_CONTRACT_ADDRESS="0x6Bd981edF241d252b48aF662A52E9d3cA84cdFae"

# EURM contract address (on Arthera testnet)
EURM_ARTHERA_TESTNET_CONTRACT_ADDRESS="0x32b6b963b99020cA1F10E47BE6C37E0B1095c5D4"

# Ethereum Goerli Testnet
GOERLI_TESTNET_ENDPOINT_URL="88888"
GOERLI_TESTNET_PRIVATE_KEY="88888"
GOERLI_ETHERSCAN_API_KEY="88888"

# Celo Testnet
CELO_TESTNET_ENDPOINT_URL="88888"
CELO_TESTNET_PRIVATE_KEY="88888"
CELO_TESTNET_DAO_ADDRESS="0x020b796c418c363be5517c6febff5c5a9248f763"
CELO_ETHERSCAN_API_KEY="88888"

# Celo Mainnet
CELO_MAINNET_ENDPOINT_URL="88888"
CELO_MAINNET_PRIVATE_KEY="88888"
CELO_MAINNET_DAO_ADDRESS=""
CELO_NAMESERVICE_ADDRESS="0x0F5dB7a64A6a64052693676CA898EC7F7A94FF4e"

# Mantle Testnet
MANTLE_TESTNET_PRIVATE_KEY="88888"
MANTLE_TESTNET_DAO_ADDRESS="0x1712FA50bd0f29Bbd46c0a48b04FfE927100A4d1"

# Arthera Testnet
ARTHERA_TESTNET_ENDPOINT_URL="https://rpc-test.arthera.net"
ARTHERA_TESTNET_PRIVATE_KEY="88888"

# Gnosis Mainnet
GNOSIS_MAINNET_ENDPOINT_URL="https://rpc.gnosis.gateway.fm"
GNOSIS_MAINNET_PRIVATE_KEY="88888"
GNOSIS_MAINNET_DAO_ADDRESS="0xB2d6696f7F006e67B1A1ECCb264e0E62a8a76F93"
GNOSIS_ETHERSCAN_API_KEY="88888"

# Gnosis Testnet
GNOSIS_TESTNET_ENDPOINT_URL="https://rpc.chiado.gnosis.gateway.fm"
GNOSIS_TESTNET_PRIVATE_KEY="88888"
GNOSIS_TESTNET_DAO_ADDRESS="0x2cdF5cde6d6b47CA9550ba36BBE618C123d41238"

# Optimism Goerli Testnet
OPTIMISM_TESTNET_ENDPOINT_URL="88888"
OPTIMISM_TESTNET_PRIVATE_KEY="88888"
OPTIMISM_ETHERSCAN_API_KEY="88888"

# Optimism Mainnet
OPTIMISM_MAINNET_ENDPOINT_URL="88888"
OPTIMISM_MAINNET_PRIVATE_KEY="88888"

# Arbitrum Goerli Testnet
ARBITRUM_TESTNET_PRIVATE_KEY="88888"
ARBITRUM_TESTNET_ENDPOINT_URL="88888"
ARBITRUM_ETHERSCAN_API_KEY="88888"

# Web3.Storage API key
WEB3STORAGE_TOKEN="88888"